# Install:           sudo cp gandidynamicdns.service /etc/systemd/system/ && sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable gandidynamicdns.service
# Start:             sudo systemctl start gandidynamicdns.service
# Check status:      systemctl status gandidynamicdns.service
# Read logs:         journalctl -f -u gandidynamicdns.service

[Unit]
Description=Gandi Dynamic DNS

[Service]
Type=notify
ExecStart=/usr/local/bin/gandidynamicdns
WorkingDirectory=/usr/local/bin/
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target